@model ContactViewModel

@{
    ViewBag.Title = "Contact";
}

<link href="~/css/contact.css" rel="stylesheet" type="text/css">

<section class="fourth">
    <div class="contact-form">
        <form id="frm" method="post">
            <h4>Send me a message:</h4>
            @Html.TextBoxFor(input => input.Name, new { @class = "input-box", id = "name", placeholder = "Name", required = "required" })
            @Html.TextBoxFor(input => input.Email, new { @class = "input-box", id = "email", placeholder = "Email address", required = "required" })
            @Html.TextBoxFor(input => input.Subject, new { @class = "input-box", id = "subject", placeholder = "Subject", required = "required" })
            @Html.TextAreaFor(input => input.Message, new { @class = "input-box", placeholder = "Message", rows = 8, columns = 32, required = "required" })
            <button class="send" id="btn-send" type="submit">Send</button>
        </form>
    </div>
</section>
