@model PostDetailsViewModel
@{
    ViewBag.Title = "AddCommentForm";
}

<!-- comments form-->
<div class="comment-form">
    <form method="post">
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    @Html.LabelFor(input => input.CommentBody, "Leave your comment: ")
                    @Html.TextAreaFor(input => input.CommentBody, new { @class = "form-control", placeholder = "Comment", rows = 2, columns = 2 })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <button type="submit" class="btn btn-light"><i class="fas fa-comment-alt"></i>Post comment</button>
            </div>
        </div>
    </form>
    <br />
    <div><a href="@Url.Action("Index", "Blog")" class="btn btn-dark">Back to List</a></div>
</div>
